body {
  font-family: Arial;
  background: #f4f4f4;
}
form {
  background: white;
  padding: 20px;
  width: 300px;
  margin: 50px auto;
}
button {
  background: #4f46e5;
  color: white;
  padding: 8px;
  border: none;
}
