* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f9fafb;
  color: #333;
}

/* NAVBAR */
.navbar {
  width: 100%;
  padding: 20px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 26px;
  font-weight: 600;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.nav-links .btn {
  padding: 10px 18px;
  background: #4f46e5;
  color: #fff;
  border-radius: 6px;
}

/* HERO SECTION */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 8%;
}

.hero-text {
  max-width: 45%;
}

.hero-text h1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.3;
}

.hero-text p {
  margin: 20px 0 30px;
  font-size: 18px;
  color: #555;
}

.cta-btn {
  padding: 14px 25px;
  background: #4f46e5;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.hero-img img {
  width: 450px;
}

/* FEATURES */
.features {
  text-align: center;
  padding: 80px 8%;
}

.features h2 {
  font-size: 36px;
  margin-bottom: 40px;
}

.feature-cards {
  display: flex;
  justify-content: center;
  gap: 35px;
}

.card {
  background: #fff;
  padding: 25px;
  width: 280px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card h3 {
  margin-bottom: 15px;
  font-size: 22px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-text {
    max-width: 100%;
  }

  .hero-img img {
    width: 350px;
    margin-top: 30px;
  }

  .feature-cards {
    flex-direction: column;
    align-items: center;
  }
}
